h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 0;
  color: #59c6ff;
  font-family: "Pacifico", cursive;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #6c757d;
  font-size: 16px;
  font-weight: 100px;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  padding: 25px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: linear-gradient(-225deg, #fff5d6 0%, #d2efff 100%);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 15px;
}

#icon {
  max-width: 100px;
}

.weather-temperature strong {
  color: #59c6ff;
  font-size: 75px;
  font-weight: 400px;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -45px;
}

.weather-temperature .active {
  color: #59c6ff;
  cursor: default;
}

.weather-temperature .active:hover {
  color: #fe8f90;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: #6c757d;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 60px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #6c757d;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
